/* Configuración del Body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f7ff;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
}

/* Contenedor principal */
.container {
  width: 95%;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 7px #3578ff;
  text-align: center;
}

/* Títulos */
h1, h2 {
  color: #003399;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5rem;
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

/* Campos donde se ingresa las palabras */
input[type="text"] {
  width: 15rem;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #5eaeff;
  box-shadow: 0 0 5px rgba(94, 174, 255, 0.5);
  outline: none;
}

input[type="radio"] {
  accent-color: #ff5722; /* Cambia el color del radio button */
}


/* Seleccionar idiomas y categorías */
.language-options, .categories {
  margin-bottom: 20px;
}

.language-options label, .categories label {
  display: inline-block;
  margin-right: 15px;
  font-size: 0.95rem;
  color: #555;
}