body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #003399;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.language-options, .categories {
  margin-bottom: 15px;
  text-align: left;
}

.language-options label, .categories label {
  display: inline-block;
  margin-right: 10px;
}

button {
  background-color: #5eaeff;
  color: #ffffff;
  border: none;
  padding: 10px 20px; /*10Borde interno arriba y abajo - 20 Borde a los lados*/
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.response, .word-list {
  margin-top: 20px;
  padding: 10px;
  background-color: #e6f7ff;
  border: 1px solid #b3e5fc;
  border-radius: 4px;
}

.response p, .word-list p {
  margin: 0;
  font-weight: bold;
}

.new-word-button {
  margin-top: 10px;
}
